@font-face {
  font-family: Goldplay;
  src: url("../font/Goldplay Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Goldplay;
  src: url("../font/Goldplay Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: Goldplay;
  src: url("../font/Goldplay Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: Goldplay;
  src: url("../font/Goldplay Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Goldplay;
  src: url("../font/Goldplay Black.otf");
  font-weight: 900;
}

/** Reset CSS **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-size: 14px !important;
  font-family: Goldplay, sans-serif;
  font-weight: 400;
  color: #000;
}

body.overflow-hidden {
  overflow: hidden;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

select,
button {
  cursor: pointer;
  outline: none;
}

a:hover,
a {
  text-decoration: none;
}

svg,
svg path {
  -webkit-transition: fill .3s, stroke .3s;
  transition: fill .3s, stroke .3s;
}

a {
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

svg path {
  color: currentColor;
}

input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1230px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1463px;
  }
}

.hz-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.hz-row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.g-1,
.gy-1 {
  --bs-gutter-y: 2.5px;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 2.5px;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 5px;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 5px;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 10px;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 10px;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 15px;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 15px;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 30px;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 30px;
}

.col-1 {
  max-width: 8.33%;
  -ms-flex-preferred-size: 8.33%;
      flex-basis: 8.33%;
}

.col-2 {
  max-width: 16.67%;
  -ms-flex-preferred-size: 16.67%;
      flex-basis: 16.67%;
}

.col-3 {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-4 {
  max-width: 33.33%;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.col-5 {
  max-width: 41.67%;
  -ms-flex-preferred-size: 41.67%;
      flex-basis: 41.67%;
}

.col-6 {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-7 {
  max-width: 58.33%;
  -ms-flex-preferred-size: 58.33%;
      flex-basis: 58.33%;
}

.col-8 {
  max-width: 66.67%;
  -ms-flex-preferred-size: 66.67%;
      flex-basis: 66.67%;
}

.col-9 {
  max-width: 75%;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-10 {
  max-width: 83.33%;
  -ms-flex-preferred-size: 83.33%;
      flex-basis: 83.33%;
}

.col-11 {
  max-width: 91.67%;
  -ms-flex-preferred-size: 91.67%;
      flex-basis: 91.67%;
}

.col-12 {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .col-sm-1 {
    max-width: 8.33%;
    -ms-flex-preferred-size: 8.33%;
        flex-basis: 8.33%;
  }
  .col-sm-2 {
    max-width: 16.67%;
    -ms-flex-preferred-size: 16.67%;
        flex-basis: 16.67%;
  }
  .col-sm-3 {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-sm-4 {
    max-width: 33.33%;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .col-sm-5 {
    max-width: 41.67%;
    -ms-flex-preferred-size: 41.67%;
        flex-basis: 41.67%;
  }
  .col-sm-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-sm-7 {
    max-width: 58.33%;
    -ms-flex-preferred-size: 58.33%;
        flex-basis: 58.33%;
  }
  .col-sm-8 {
    max-width: 66.67%;
    -ms-flex-preferred-size: 66.67%;
        flex-basis: 66.67%;
  }
  .col-sm-9 {
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-sm-10 {
    max-width: 83.33%;
    -ms-flex-preferred-size: 83.33%;
        flex-basis: 83.33%;
  }
  .col-sm-11 {
    max-width: 91.67%;
    -ms-flex-preferred-size: 91.67%;
        flex-basis: 91.67%;
  }
  .col-sm-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33%;
    -ms-flex-preferred-size: 8.33%;
        flex-basis: 8.33%;
  }
  .col-md-2 {
    max-width: 16.67%;
    -ms-flex-preferred-size: 16.67%;
        flex-basis: 16.67%;
  }
  .col-md-3 {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-md-4 {
    max-width: 33.33%;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .col-md-5 {
    max-width: 41.67%;
    -ms-flex-preferred-size: 41.67%;
        flex-basis: 41.67%;
  }
  .col-md-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-md-7 {
    max-width: 58.33%;
    -ms-flex-preferred-size: 58.33%;
        flex-basis: 58.33%;
  }
  .col-md-8 {
    max-width: 66.67%;
    -ms-flex-preferred-size: 66.67%;
        flex-basis: 66.67%;
  }
  .col-md-9 {
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-md-10 {
    max-width: 83.33%;
    -ms-flex-preferred-size: 83.33%;
        flex-basis: 83.33%;
  }
  .col-md-11 {
    max-width: 91.67%;
    -ms-flex-preferred-size: 91.67%;
        flex-basis: 91.67%;
  }
  .col-md-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .col-lg-1 {
    max-width: 8.33%;
    -ms-flex-preferred-size: 8.33%;
        flex-basis: 8.33%;
  }
  .col-lg-2 {
    max-width: 16.67%;
    -ms-flex-preferred-size: 16.67%;
        flex-basis: 16.67%;
  }
  .col-lg-3 {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-lg-4 {
    max-width: 33.33%;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .col-lg-5 {
    max-width: 41.67%;
    -ms-flex-preferred-size: 41.67%;
        flex-basis: 41.67%;
  }
  .col-lg-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-lg-7 {
    max-width: 58.33%;
    -ms-flex-preferred-size: 58.33%;
        flex-basis: 58.33%;
  }
  .col-lg-8 {
    max-width: 66.67%;
    -ms-flex-preferred-size: 66.67%;
        flex-basis: 66.67%;
  }
  .col-lg-9 {
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-lg-10 {
    max-width: 83.33%;
    -ms-flex-preferred-size: 83.33%;
        flex-basis: 83.33%;
  }
  .col-lg-11 {
    max-width: 91.67%;
    -ms-flex-preferred-size: 91.67%;
        flex-basis: 91.67%;
  }
  .col-lg-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-none {
  display: none !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.flex-no-wrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-block {
    display: block !important;
  }
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic !important;
}

.mt-0 {
  margin-top: 0 !important;
}

/** BUTTON **/
.hz-button {
  min-width: 190px;
  text-align: center;
  border: 1px solid #036EB0;
  border-radius: 10px;
  font-size: 24px;
  color: #036EB0;
  padding: 6px 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (hover) {
  .hz-button:hover {
    border-color: #fff;
    color: #036EB0;
    -webkit-box-shadow: 0px 0px 12px #036eb0ab;
            box-shadow: 0px 0px 12px #036eb0ab;
    background-color: #fff;
  }
}

.hz-button--blue {
  background-color: #036eb0;
  color: #fff;
}

.hz-button--xl {
  font-size: 48px;
  font-weight: 900;
  padding-left: 80px;
  padding-right: 80px;
}

/** BOOK TOUR **/
.booking-step {
  width: 49.3%;
  margin: 0 auto;
  font-family: Goldplay;
}

@media screen and (max-width: 1600px) {
  .booking-step {
    width: 85%;
  }
}

@media screen and (max-width: 1023px) {
  .booking-step {
    width: 100%;
  }
}

.booking-step__item {
  font-size: 24px;
  text-align: center;
  position: relative;
  width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media screen and (max-width: 1600px) {
  .booking-step__item {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .booking-step__item {
    font-size: 18px;
  }
}

.booking-step__item-name {
  font-weight: 700;
  color: #000;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .booking-step__item-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.booking-step__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  color: #036EB0;
  border: 1px solid #036EB0;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  z-index: 9;
  font-weight: 500;
}

.booking-step__item:not(:first-child):before {
  content: '';
  width: 100%;
  height: 8px;
  border: 1px solid #036EB0;
  position: absolute;
  bottom: 15px;
  right: 50%;
}

.booking-step__item.active span {
  background-color: #036EB0;
  color: #fff;
}

.booking-step__item.active:before {
  background-color: #036EB0;
}

.booking-title {
  font-size: 48px;
  font-weight: 900;
  color: #006CB0;
  margin-top: 50px;
  line-height: 1.32;
}

.booking-desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

.booking-tab__pane {
  display: none;
}

.booking-tab__pane.active {
  display: block;
}

.booking-tab__pane .booking-title {
  margin-bottom: 8px;
}

.booking-tab__pane-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.booking-tab__pane-footer .hz-button {
  margin: 0 60px;
}

@media screen and (max-width: 1600px) {
  .booking-tab__pane-footer {
    margin-top: 30px;
  }
  .booking-tab__pane-footer .hz-button {
    margin: 0 30px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .booking-tab__pane-footer .hz-button {
    margin: 7px 15px;
    font-size: 17px;
  }
}

.booking-information {
  margin-top: 24px;
}

.booking-information__block {
  padding: 40px 80px;
  border: 1px solid #036EB0;
  border-radius: 20px;
  font-size: 24px;
}

.booking-information__block-head {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.booking-information__block-head em {
  font-style: 500px;
}

.booking-information__block-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.booking-information__block-item .item-left,
.booking-information__block-item .item-right {
  width: 50%;
}

.booking-information__block-item .item-right {
  text-align: right;
}

@media screen and (max-width: 1600px) {
  .booking-information__block {
    padding: 40px;
    font-size: 20px;
  }
  .booking-information__block-head {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1199px) {
  .booking-information__block {
    padding: 30px;
    font-size: 17px;
  }
  .booking-information__block-head {
    margin-bottom: 20px;
  }
}

.booking-checkout {
  margin-top: 50px;
  font-size: 24px;
}

.booking-checkout a {
  color: #036EB0;
}

@media screen and (max-width: 1600px) {
  .booking-checkout {
    margin-top: 30px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .booking-checkout {
    font-size: 18px;
  }
}

@media screen and (max-width: 1600px) {
  .booking-title {
    font-size: 38px;
    margin-top: 35px;
  }
  .booking-desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .booking-title {
    font-size: 33px;
  }
}

@media screen and (max-width: 1023px) {
  .booking-desc {
    font-size: 17px;
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 767px) {
  .booking-title {
    font-size: 28px;
  }
  .booking-desc {
    font-size: 16px;
  }
}

.tour-list {
  --bs-gutter-x: 19px;
  --bs-gutter-y: 19px;
  margin-top: 24px;
}

@media screen and (max-width: 1600px) {
  .tour-list {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .tour-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -ms-scroll-snap-type: x;
        scroll-snap-type: x;
    --bs-gutter-y: 0;
    padding-bottom: 15px;
  }
  .tour-list > [class*='col'] {
    scroll-snap-align: start;
  }
}

.tour-item {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.tour-item label {
  cursor: pointer;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.tour-item label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, black), to(black));
  background: linear-gradient(180deg, white 0%, black 50%, black 100%);
  -webkit-transition: .3s ease .3s;
  transition: .3s ease .3s;
}

.tour-item label:hover:before {
  opacity: 0.6;
}

.tour-item input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}

.tour-item input:checked ~ .tour-item-checked {
  opacity: 1;
  visibility: visible;
}

.tour-item input:checked ~ .tour-item__content {
  opacity: 0;
}

.tour-item-checked {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-transition: .3s;
  transition: .3s;
}

.tour-item-checked:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}

.tour-item-checked span {
  text-align: center;
  font-size: 24px;
  color: #036EB0;
  font-weight: 700;
}

.tour-item-checked img {
  width: 100px;
  height: 100px;
}

.tour-item-checked img,
.tour-item-checked span {
  position: relative;
}

.tour-item__image {
  position: relative;
  padding-bottom: 65%;
  display: block;
}

.tour-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tour-item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fff;
  -webkit-transform: translateY(77%);
  transform: translateY(77%);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (hover) {
  .tour-item:hover .tour-item__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #4c484887;
  }
}

.tour-item__name {
  font-size: 23px;
  font-weight: 700;
  display: block;
  position: relative;
  z-index: 99;
}

.tour-item__desc {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  width: 63%;
  position: relative;
  z-index: 99;
}

@media screen and (max-width: 1600px) {
  .tour-item__desc {
    font-size: 15px;
    margin-top: 8px;
    width: 90%;
  }
}

.tour-item__list {
  margin-top: 15px;
  display: block;
  position: relative;
  z-index: 99;
}

.tour-item__list em {
  font-size: 16px;
  display: block;
}

@media screen and (max-width: 1600px) {
  .tour-item__list em {
    font-size: 15px;
    margin-top: 8px;
  }
}

.tour-item__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: #036EB0;
  font-weight: 700;
}

.tour-item__button:after {
  content: '';
  width: 37px;
  height: 37px;
  display: block;
  margin-left: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewBox='0 0 37 37'%3E%3Cg id='Group_605' data-name='Group 605' transform='translate(22031 -5621)'%3E%3Cg id='Group_604' data-name='Group 604' transform='translate(-22031 5621)'%3E%3Ccircle id='Ellipse_7' data-name='Ellipse 7' cx='18.5' cy='18.5' r='18.5' fill='%23036eb0'/%3E%3Cg id='Forward_Arrow' data-name='Forward Arrow' transform='translate(15.035 26.661) rotate(-90)'%3E%3Cpath id='Union_3' data-name='Union 3' d='M6.949,9.477.523,3.052A1.788,1.788,0,0,1,3.051.524L8.213,5.685,13.269.628A1.788,1.788,0,1,1,15.8,3.157L9.477,9.477a1.787,1.787,0,0,1-2.528,0Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (max-width: 1199px) {
  .tour-item {
    border-radius: 15px;
  }
  .tour-item__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10px;
    line-height: 1;
  }
  .tour-item__desc, .tour-item__list, .tour-item__button {
    display: none;
  }
}

.booking-form {
  margin-top: 50px;
}

.booking-form .booking-title {
  margin-bottom: 10px;
}

.booking-form-inner {
  width: 49.3%;
  margin: 0 auto;
  margin-top: 24px;
}

@media screen and (max-width: 1600px) {
  .booking-form-inner {
    width: 70%;
  }
}

@media screen and (max-width: 1023px) {
  .booking-form-inner {
    width: 100%;
  }
}

.booking-form-inner form .form-group {
  margin-bottom: 24px;
}

.booking-form-inner form label {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.booking-form-inner form input {
  border: 1px solid #036EB0;
  background-color: #fff;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 11px 20px;
  height: auto;
  border-radius: 10px;
  font-size: 24px;
}

.booking-form-inner form input::-webkit-input-placeholder {
  color: #7F7F7F;
}

.booking-form-inner form input:-ms-input-placeholder {
  color: #7F7F7F;
}

.booking-form-inner form input::-ms-input-placeholder {
  color: #7F7F7F;
}

.booking-form-inner form input::placeholder {
  color: #7F7F7F;
}

.booking-form-inner form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #036EB0;
}

.booking-form-inner form input::-webkit-inner-spin-button, .booking-form-inner form input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.booking-form-inner form input[type="number"] {
  -moz-appearance: none;
}

.booking-form-inner form .js-modal {
  cursor: pointer !important;
}

.booking-form-inner form .input-number {
  position: relative;
}

.booking-form-inner form .input-number__button {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.booking-form-inner form .input-number__button .btn {
  width: 32px;
  height: 32px;
  background-color: #036EB0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid #036EB0;
  -webkit-transition: .3s;
  transition: .3s;
}

.booking-form-inner form .input-number__button .btn svg {
  color: #fff;
}

@media (hover) {
  .booking-form-inner form .input-number__button .btn:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px #036eb0;
            box-shadow: 0px 0px 6px #036eb0;
  }
  .booking-form-inner form .input-number__button .btn:hover svg {
    color: #006CB0;
  }
}

.booking-form-inner form .input-number__button .btn:not(:last-child) {
  margin-right: 20px;
}

.booking-form-inner form .js-dishes-modal input {
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .booking-form-inner form label {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .booking-form-inner form input {
    padding: 6px 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .booking-form-inner form label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .booking-form-inner form input {
    font-size: 16px;
    padding: 8px 15px;
  }
  .booking-form-inner form .input-number__button .btn {
    width: 26px;
    height: 26px;
  }
  .booking-form-inner form .input-number__button .btn:not(:last-child) {
    margin-right: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .booking-form {
    margin-top: 30px;
  }
  .booking-form .booking-title {
    margin-top: 15px;
  }
}

.booking-form-inner-2 {
  display: none;
}

.booking-button {
  background-color: #036EB0;
  border-radius: 10px;
  font-size: 24px;
  color: #fff;
  padding: 7px 34px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 26px;
}

.booking-button:hover {
  background-color: #fff;
  color: #036EB0;
  -webkit-box-shadow: 0px 0px 6px #036eb0;
          box-shadow: 0px 0px 6px #036eb0;
}

@media screen and (max-width: 1600px) {
  .booking-button {
    margin-top: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .booking-button {
    font-size: 17px;
  }
}

/** DISHES MODAL **/
.hz-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  opacity: 0;
  visibility: hidden;
}

.hz-modal.active {
  opacity: 1;
  visibility: visible;
}

@media (hover) {
  .hz-modal.active {
    padding-right: 17px;
  }
}

.hz-modal.active .hz-modal__dialog {
  opacity: 1;
  visibility: visible;
}

.hz-modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 37px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #036EB0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.hz-modal__close svg {
  color: #fff;
}

@media (hover) {
  .hz-modal__close:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px #036eb0;
            box-shadow: 0px 0px 6px #036eb0;
  }
  .hz-modal__close:hover svg {
    color: #036EB0;
  }
}

@media screen and (max-width: 1023px) {
  .hz-modal__close {
    top: 10px;
    right: 10px;
    width: 33px;
    height: 33px;
  }
  .hz-modal__close svg {
    width: 15px;
    height: 15px;
  }
}

.hz-modal__dialog {
  background-color: #fff;
  padding: 100px 140px;
  margin: 100px auto;
  position: relative;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  width: 90%;
}

@media (min-width: 1600px) {
  .hz-modal__dialog {
    width: 1433px;
  }
}

@media screen and (max-width: 1600px) {
  .hz-modal__dialog {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 1199px) {
  .hz-modal__dialog {
    padding: 70px;
  }
}

@media screen and (max-width: 1023px) {
  .hz-modal__dialog {
    padding: 50px;
    margin: 70px auto;
  }
}

@media screen and (max-width: 767px) {
  .hz-modal__dialog {
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
  }
}

.hz-modal__body .booking-desc {
  width: 83%;
  margin: 24px auto 0 auto;
  text-align: justify;
}

@media screen and (max-width: 1199px) {
  .hz-modal__body .booking-desc {
    width: 100%;
  }
}

.hz-modal__tab {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-right: -25px;
  margin-left: -25px;
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hz-modal__tab li {
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

.hz-modal__tab li a {
  background-color: #fff;
  border: none;
  font-size: 24px;
  color: #fff;
  background-color: #036EB0;
  border-radius: 10px;
  padding: 9px 15px;
  width: 100%;
  display: block;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (hover) {
  .hz-modal__tab li:hover a {
    color: #036EB0;
    -webkit-box-shadow: 0px 0px 6px #036eb0;
            box-shadow: 0px 0px 6px #036eb0;
    background-color: #fff;
  }
}

.hz-modal__tab li.active a {
  color: #036EB0;
  -webkit-box-shadow: 0px 0px 6px #036eb0;
          box-shadow: 0px 0px 6px #036eb0;
  background-color: #fff;
}

@media screen and (max-width: 1600px) {
  .hz-modal__tab {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .hz-modal__tab li {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hz-modal__tab li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .hz-modal__tab li a {
    font-size: 17px;
  }
}

@media screen and (max-width: 1023px) {
  .hz-modal__tab {
    margin-left: -10px;
    margin-right: -10px;
  }
  .hz-modal__tab li {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .hz-modal__tab {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hz-modal__tab li {
    min-width: 60%;
    margin: 10px 0;
  }
}

.hz-modal__footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.hz-modal__footer .hz-button {
  margin: 0 60px;
}

@media screen and (max-width: 1600px) {
  .hz-modal__footer .hz-button {
    margin: 0 30px;
  }
}

@media screen and (max-width: 1023px) {
  .hz-modal__footer {
    margin-top: 25px;
  }
  .hz-modal__footer .hz-button {
    margin: 10px 15px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .hz-modal__footer {
    margin-top: 15px;
  }
}

.hz-modal .tab-panels {
  border: none;
}

.hz-modal .tab-panels .panel {
  display: none;
}

.hz-modal .tab-panels .panel.active {
  display: block;
}

.hz-modal-dishes__carousel {
  width: 87.5%;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .hz-modal-dishes__carousel {
    width: 91%;
  }
}

@media screen and (max-width: 1199px) {
  .hz-modal-dishes__carousel {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .hz-modal-dishes__carousel {
    margin-top: 30px;
  }
}

.hz-modal-dishes__carousel .carousel-cell {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .hz-modal-dishes__carousel .carousel-cell {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .hz-modal-dishes__carousel .carousel-cell {
    width: 100%;
  }
}

.hz-modal-dishes__carousel .hz-row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
  margin: 20px;
}

@media screen and (max-width: 1023px) {
  .hz-modal-dishes__carousel .hz-row {
    margin: 10px 0;
  }
}

.hz-modal-dishes__carousel .flickity-button {
  background-color: #006CB0;
  -webkit-transition: .3s;
  transition: .3s;
}

.hz-modal-dishes__carousel .flickity-button:disabled {
  opacity: 0;
}

@media (hover) {
  .hz-modal-dishes__carousel .flickity-button:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px #036eb0;
            box-shadow: 0px 0px 6px #036eb0;
  }
}

.hz-modal-dishes__carousel .flickity-button.next {
  right: -10%;
}

.hz-modal-dishes__carousel .flickity-button.next:before {
  content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M9.6375 10.2125L3.2125 16.6385C2.87481 16.9616 2.42401 17.1397 1.95666 17.1345C1.4893 17.1294 1.04254 16.9414 0.71205 16.611C0.381559 16.2805 0.193614 15.8337 0.188465 15.3663C0.183316 14.899 0.361371 14.4482 0.6845 14.1105L5.8455 8.9485L0.788499 3.8925C0.452868 3.55713 0.264207 3.10217 0.264019 2.62771C0.263831 2.15324 0.452133 1.69813 0.787499 1.3625C1.12287 1.02687 1.57782 0.838208 2.05229 0.83802C2.52676 0.837833 2.98187 1.02613 3.3175 1.3615L9.6375 7.6845C9.80356 7.85045 9.93529 8.0475 10.0252 8.26438C10.115 8.48127 10.1613 8.71373 10.1613 8.9485C10.1613 9.18327 10.115 9.41573 10.0252 9.63262C9.93529 9.8495 9.80356 10.0465 9.6375 10.2125V10.2125Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='white' transform='translate(0.1605 17.1615) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 18px;
  width: 10px;
}

@media (hover) {
  .hz-modal-dishes__carousel .flickity-button.next:hover:before {
    content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M9.6375 10.2125L3.2125 16.6385C2.87481 16.9616 2.42401 17.1397 1.95666 17.1345C1.4893 17.1294 1.04254 16.9414 0.71205 16.611C0.381559 16.2805 0.193614 15.8337 0.188465 15.3663C0.183316 14.899 0.361371 14.4482 0.6845 14.1105L5.8455 8.9485L0.788499 3.8925C0.452868 3.55713 0.264207 3.10217 0.264019 2.62771C0.263831 2.15324 0.452133 1.69813 0.787499 1.3625C1.12287 1.02687 1.57782 0.838208 2.05229 0.83802C2.52676 0.837833 2.98187 1.02613 3.3175 1.3615L9.6375 7.6845C9.80356 7.85045 9.93529 8.0475 10.0252 8.26438C10.115 8.48127 10.1613 8.71373 10.1613 8.9485C10.1613 9.18327 10.115 9.41573 10.0252 9.63262C9.93529 9.8495 9.80356 10.0465 9.6375 10.2125V10.2125Z' fill='%23036eb0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='white' transform='translate(0.1605 17.1615) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.hz-modal-dishes__carousel .flickity-button.previous {
  left: -10%;
}

.hz-modal-dishes__carousel .flickity-button.previous:before {
  content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M0.6845 7.78848L7.1095 1.36248C7.44719 1.03935 7.89799 0.861292 8.36534 0.866442C8.8327 0.871591 9.27946 1.05954 9.60995 1.39003C9.94044 1.72052 10.1284 2.16728 10.1335 2.63463C10.1387 3.10199 9.96063 3.55278 9.6375 3.89048L4.4765 9.05248L9.5335 14.1085C9.86913 14.4438 10.0578 14.8988 10.058 15.3733C10.0582 15.8477 9.86987 16.3028 9.5345 16.6385C9.19913 16.9741 8.74417 17.1628 8.26971 17.163C7.79524 17.1631 7.34013 16.9748 7.0045 16.6395L0.6845 10.3165C0.518442 10.1505 0.386711 9.95348 0.296835 9.73659C0.206959 9.51971 0.1607 9.28724 0.1607 9.05248C0.1607 8.81771 0.206959 8.58524 0.296835 8.36836C0.386711 8.15148 0.518442 7.95443 0.6845 7.78848V7.78848Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='white' transform='translate(10.1615 0.839478) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 18px;
  width: 10px;
}

@media (hover) {
  .hz-modal-dishes__carousel .flickity-button.previous:hover:before {
    content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M0.6845 7.78848L7.1095 1.36248C7.44719 1.03935 7.89799 0.861292 8.36534 0.866442C8.8327 0.871591 9.27946 1.05954 9.60995 1.39003C9.94044 1.72052 10.1284 2.16728 10.1335 2.63463C10.1387 3.10199 9.96063 3.55278 9.6375 3.89048L4.4765 9.05248L9.5335 14.1085C9.86913 14.4438 10.0578 14.8988 10.058 15.3733C10.0582 15.8477 9.86987 16.3028 9.5345 16.6385C9.19913 16.9741 8.74417 17.1628 8.26971 17.163C7.79524 17.1631 7.34013 16.9748 7.0045 16.6395L0.6845 10.3165C0.518442 10.1505 0.386711 9.95348 0.296835 9.73659C0.206959 9.51971 0.1607 9.28724 0.1607 9.05248C0.1607 8.81771 0.206959 8.58524 0.296835 8.36836C0.386711 8.15148 0.518442 7.95443 0.6845 7.78848V7.78848Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='%23036eb0' transform='translate(10.1615 0.839478) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

@media screen and (max-width: 1023px) {
  .hz-modal-dishes__carousel .flickity-button.previous {
    left: -8%;
  }
  .hz-modal-dishes__carousel .flickity-button.next {
    right: -8%;
  }
}

@media screen and (max-width: 767px) {
  .hz-modal-dishes__carousel .flickity-button {
    width: 34px;
    height: 34px;
  }
  .hz-modal-dishes__carousel .flickity-button.previous {
    left: -9%;
  }
  .hz-modal-dishes__carousel .flickity-button.next {
    right: -9%;
  }
}

.hz-modal-dishes__carousel .flickity-button svg {
  display: none;
}

.modal-backdrop--white {
  background-color: #E4E4E4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

.modal-backdrop--white.active {
  visibility: visible;
  opacity: 0.7;
}

.dishes__item {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 30px;
  overflow: hidden;
}

@media (hover) {
  .dishes__item:hover {
    color: #000;
    -webkit-box-shadow: 0px 0px 15px #036eb052;
            box-shadow: 0px 0px 15px #036eb052;
  }
}

.dishes__item-image {
  width: 100%;
  position: relative;
  padding-bottom: 64.3%;
}

.dishes__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dishes__item-content {
  padding: 19px 18px 16px 21px;
  font-size: 16px;
}

.dishes__item-content ul {
  margin-top: 20px;
  font-weight: 500;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

.dishes__item-content ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.dishes__item-name {
  font-weight: 700;
  font-size: 24px;
}

.dishes__item-choose {
  margin-top: 24px;
  margin-left: auto;
  text-align: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dishes__item-choose label {
  font-size: 24px;
  color: #036EB0;
  font-weight: 700;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dishes__item-choose input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.dishes__item-choose input:checked ~ .checkmark {
  background-color: #036eb0;
}

.dishes__item-choose input:checked ~ .checkmark:before {
  opacity: 1;
  width: 20px;
}

@media screen and (max-width: 1023px) {
  .dishes__item-choose input:checked ~ .checkmark:before {
    width: 15px;
  }
}

.dishes__item-choose .checkmark {
  width: 37px;
  height: 37px;
  border: 1px solid #036EB0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.dishes__item-choose .checkmark:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.435' height='10.485' viewBox='0 0 15.435 10.485'%3E%3Cpath id='Union_3' data-name='Union 3' d='M5.071,12.486.122,7.536A1,1,0,0,1,1.535,6.121l4.243,4.243,7.778-7.778A1,1,0,1,1,14.971,4L6.509,12.461l-.023.024a1,1,0,0,1-1.415,0Z' transform='translate(0.171 -2.293)' fill='%23fff'/%3E%3C/svg%3E%0A");
  opacity: 0;
  height: 20px;
  width: 0;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
  background-position: center;
}

@media screen and (max-width: 1600px) {
  .dishes__item-name, .dishes__item-choose {
    font-size: 20px;
  }
  .dishes__item-content ul {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .dishes__item-content {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }
  .dishes__item-choose label {
    font-size: 20px;
  }
  .dishes__item-choose .checkmark {
    width: 30px;
    height: 30px;
  }
  .dishes__item-choose .checkmark:before {
    height: 15px;
  }
}
/*# sourceMappingURL=style.css.map */