@font-face {
    font-family: Goldplay;
    src: url('../font/Goldplay Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Goldplay;
    src: url('../font/Goldplay Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: Goldplay;
    src: url('../font/Goldplay Semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: Goldplay;
    src: url('../font/Goldplay Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: Goldplay;
    src: url('../font/Goldplay Black.otf');
    font-weight: 900;
}


/** Reset CSS **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    font-size: 14px !important;
    font-family: Goldplay, sans-serif;
    font-weight: 400;
    color: #000;
    &.overflow-hidden {
        overflow: hidden;
    }
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

select,
button {
    cursor: pointer;
    outline: none;
}

a:hover,
a {
    text-decoration: none;
}

svg,
svg path {
    -webkit-transition: fill .3s, stroke .3s;
    -o-transition: fill .3s, stroke .3s;
    transition: fill .3s, stroke .3s;
}

a {
    transition: color .3s, background-color .3s;
}

svg path {
    color: currentColor;
}

input:focus {
    box-shadow: none;
    outline: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1366px) {
        max-width: 1230px;
    }
    @media (min-width: 1600px) {
        max-width: 1463px;
    }
}


/** Style for post **/

.ws-sgct blockquote {
    color: #333;
    font-size: 21px;
    font-weight: 700;
    border-left: 2px solid #333;
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ws-sgct blockquote p {
    margin: 0 !important;
}

.ws-sgct code {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-size: .85rem;
    color: #e83e8c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.ws-sgct p,
.ws-sgct table {
    margin: 0 0 15px;
    line-height: 1.3;
}

.ws-sgct p:last-child {
    margin-bottom: 0;
}

.ws-sgct ul {
    list-style: disc;
    padding-left: 20px;
}

.ws-sgct table {
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.ws-sgct table>tbody>tr>td,
.ws-sgct table>tbody>tr>th,
.ws-sgct table>tfoot>tr>td,
.ws-sgct table>tfoot>tr>th,
.ws-sgct table>thead>tr>td,
.ws-sgct table>thead>tr>th {
    border: 1px solid #ddd;
    padding: 7px 10px;
}

.ws-sgct h6 {
    font-size: 18px;
}

.ws-sgct h5 {
    font-size: 20px;
}

.ws-sgct h4 {
    font-size: 22px;
}

.ws-sgct h3 {
    font-size: 24px;
}

.ws-sgct h2 {
    font-size: 26px;
}

.ws-sgct h1 {
    font-size: 32px;
}

@media only screen and (max-width: 1023px) {
    .ws-sgct h6 {
        font-size: 15px;
    }
    .ws-sgct h5 {
        font-size: 18px;
    }
    .ws-sgct h4 {
        font-size: 21px;
    }
    .ws-sgct h3 {
        font-size: 23px;
    }
    .ws-sgct h2 {
        font-size: 25px;
    }
}

.ws-sgct iframe {
    margin: auto;
    width: 100%;
}

.ws-sgct img {
    margin-bottom: 10px;
}

.ws-sgct .syntaxhighlighter {
    padding: 10px 0;
}

.ws-sgct h1,
.ws-sgct h2,
.ws-sgct h3,
.ws-sgct h4,
.ws-sgct h5,
.ws-sgct h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

.hz-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.hz-row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.g-1,
.gy-1 {
    --bs-gutter-y: 2.5px;
}

.g-1,
.gx-1 {
    --bs-gutter-x: 2.5px;
}

.g-2,
.gy-2 {
    --bs-gutter-y: 5px;
}

.g-2,
.gx-2 {
    --bs-gutter-x: 5px;
}

.g-3,
.gy-3 {
    --bs-gutter-y: 10px;
}

.g-3,
.gx-3 {
    --bs-gutter-x: 10px;
}

.g-4,
.gy-4 {
    --bs-gutter-y: 15px;
}

.g-4,
.gx-4 {
    --bs-gutter-x: 15px;
}

.g-5,
.gy-5 {
    --bs-gutter-y: 30px;
}

.g-5,
.gx-5 {
    --bs-gutter-x: 30px;
}

.col-1 {
    max-width: 8.33%;
    flex-basis: 8.33%;
}

.col-2 {
    max-width: 16.67%;
    flex-basis: 16.67%;
}

.col-3 {
    max-width: 25%;
    flex-basis: 25%;
}

.col-4 {
    max-width: 33.33%;
    flex-basis: 33.33%;
}

.col-5 {
    max-width: 41.67%;
    flex-basis: 41.67%;
}

.col-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.col-7 {
    max-width: 58.33%;
    flex-basis: 58.33%;
}

.col-8 {
    max-width: 66.67%;
    flex-basis: 66.67%;
}

.col-9 {
    max-width: 75%;
    flex-basis: 75%;
}

.col-10 {
    max-width: 83.33%;
    flex-basis: 83.33%;
}

.col-11 {
    max-width: 91.67%;
    flex-basis: 91.67%;
}

.col-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    width: 100%;
    // padding-left: 15px;
    // padding-right: 15px;
}

@media screen and (min-width:375px) {
    .col-sm-1 {
        max-width: 8.33%;
        flex-basis: 8.33%;
    }
    .col-sm-2 {
        max-width: 16.67%;
        flex-basis: 16.67%;
    }
    .col-sm-3 {
        max-width: 25%;
        flex-basis: 25%;
    }
    .col-sm-4 {
        max-width: 33.33%;
        flex-basis: 33.33%;
    }
    .col-sm-5 {
        max-width: 41.67%;
        flex-basis: 41.67%;
    }
    .col-sm-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .col-sm-7 {
        max-width: 58.33%;
        flex-basis: 58.33%;
    }
    .col-sm-8 {
        max-width: 66.67%;
        flex-basis: 66.67%;
    }
    .col-sm-9 {
        max-width: 75%;
        flex-basis: 75%;
    }
    .col-sm-10 {
        max-width: 83.33%;
        flex-basis: 83.33%;
    }
    .col-sm-11 {
        max-width: 91.67%;
        flex-basis: 91.67%;
    }
    .col-sm-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (min-width:768px) {
    .col-md-1 {
        max-width: 8.33%;
        flex-basis: 8.33%;
    }
    .col-md-2 {
        max-width: 16.67%;
        flex-basis: 16.67%;
    }
    .col-md-3 {
        max-width: 25%;
        flex-basis: 25%;
    }
    .col-md-4 {
        max-width: 33.33%;
        flex-basis: 33.33%;
    }
    .col-md-5 {
        max-width: 41.67%;
        flex-basis: 41.67%;
    }
    .col-md-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .col-md-7 {
        max-width: 58.33%;
        flex-basis: 58.33%;
    }
    .col-md-8 {
        max-width: 66.67%;
        flex-basis: 66.67%;
    }
    .col-md-9 {
        max-width: 75%;
        flex-basis: 75%;
    }
    .col-md-10 {
        max-width: 83.33%;
        flex-basis: 83.33%;
    }
    .col-md-11 {
        max-width: 91.67%;
        flex-basis: 91.67%;
    }
    .col-md-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (min-width:1024px) {
    .col-lg-1 {
        max-width: 8.33%;
        flex-basis: 8.33%;
    }
    .col-lg-2 {
        max-width: 16.67%;
        flex-basis: 16.67%;
    }
    .col-lg-3 {
        max-width: 25%;
        flex-basis: 25%;
    }
    .col-lg-4 {
        max-width: 33.33%;
        flex-basis: 33.33%;
    }
    .col-lg-5 {
        max-width: 41.67%;
        flex-basis: 41.67%;
    }
    .col-lg-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .col-lg-7 {
        max-width: 58.33%;
        flex-basis: 58.33%;
    }
    .col-lg-8 {
        max-width: 66.67%;
        flex-basis: 66.67%;
    }
    .col-lg-9 {
        max-width: 75%;
        flex-basis: 75%;
    }
    .col-lg-10 {
        max-width: 83.33%;
        flex-basis: 83.33%;
    }
    .col-lg-11 {
        max-width: 91.67%;
        flex-basis: 91.67%;
    }
    .col-lg-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}

.d-block {
    display: block!important;
}

.d-flex {
    display: flex!important;
}

.d-none {
    display: none!important;
}

.flex-wrap {
    flex-wrap: wrap!important;
}

.flex-no-wrap {
    flex-wrap: nowrap!important;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .d-md-none {
        display: none!important;
    }
    .d-md-flex {
        display: flex!important;
    }
}

@media screen and (min-width: 992px) {
    .d-lg-none {
        display: none!important;
    }
    .d-lg-flex {
        display: flex!important;
    }
    .d-lg-block {
        display: block!important;
    }
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic!important;
}

.mt-0 {
    margin-top: 0!important;
}


/** BUTTON **/

.hz-button {
    min-width: 190px;
    text-align: center;
    border: 1px solid #036EB0;
    border-radius: 10px;
    font-size: 24px;
    color: #036EB0;
    padding: 6px 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    @media(hover) {
        &:hover {
            border-color: #fff;
            color: #036EB0;
            box-shadow: 0px 0px 12px #036eb0ab;
            background-color: #fff;
        }
    }
    &--white {}
    &--blue {
        background-color: #036eb0;
        color: #fff;
    }
    &--xl {
        font-size: 48px;
        font-weight: 900;
        padding-left: 80px;
        padding-right: 80px;
    }
}


/** BOOK TOUR **/

.booking-step {
    width: 49.3%;
    margin: 0 auto;
    font-family: Goldplay;
    @media screen and (max-width: 1600px) {
        width: 85%;
    }
    @media screen and (max-width: 1023px) {
        width: 100%;
    }
    &__item {
        font-size: 24px;
        text-align: center;
        position: relative;
        width: 33.33%;
        flex: 0 0 auto;
        pointer-events: none;
        @media screen and (max-width: 1600px) {
            font-size: 22px;
        }
        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
        &-name {
            font-weight: 700;
            color: #000;
            margin-bottom: 12px;
            @media screen and (max-width: 767px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: #036EB0;
            border: 1px solid #036EB0;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            background-color: #fff;
            z-index: 9;
            font-weight: 500;
        }
        &:not(:first-child) {
            &:before {
                content: '';
                width: 100%;
                height: 8px;
                border: 1px solid #036EB0;
                position: absolute;
                bottom: 15px;
                right: 50%;
            }
        }
        &.prev,
        &.active {
            span {
                background-color: #036EB0;
                color: #fff;
            }
            &:before {
                background-color: #036EB0;
            }
        }
    }
}

.booking-title {
    font-size: 48px;
    font-weight: 900;
    color: #006CB0;
    margin-top: 50px;
    line-height: 1.32;
}

.booking-text {}

.booking-desc {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

.booking-tab__content {}

.booking-tab__pane {
    display: none;
    &.active {
        display: block;
    }
    .booking-title {
        margin-bottom: 8px;
    }
    &-footer {
        justify-content: center;
        margin-top: 50px;
        .hz-button {
            margin: 0 60px;
        }
        @media screen and (max-width: 1600px) {
            margin-top: 30px;
            .hz-button {
                margin: 0 30px;
                font-size: 20px;
            }
        }
        @media screen and (max-width: 767px) {
            .hz-button {
                margin: 7px 15px;
                font-size: 17px;
            }
        }
    }
}

.booking-information {
    margin-top: 24px;
    &__block {
        padding: 40px 80px;
        border: 1px solid #036EB0;
        border-radius: 20px;
        font-size: 24px;
        &-head {
            justify-content: space-between;
            margin-bottom: 40px;
            em {
                font-weight: 500;
                color: #036EB0;
            }
        }
        &-item {
            justify-content: space-between;
            margin-bottom: 10px;
            .item-left,
            .item-right {
                width: 50%;
            }
            .item-right {
                text-align: right;
                input {
                    font-size: 24px;
                    border: none;
                    outline: none;
                    text-align: right;
                    text-transform: capitalize;
                    width: 100%;
                    @media screen and (max-width: 1600px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: 767px) {
                        font-size: 16px;
                    }
                }
                input[type="time"]::-webkit-calendar-picker-indicator {
                    background: none;
                    display: none;
                }
            }
        }
        @media screen and (max-width: 1600px) {
            padding: 40px;
            font-size: 20px;
            &-head {
                margin-bottom: 25px;
            }
        }
        @media screen and (max-width:1199px) {
            padding: 30px;
            font-size: 17px;
            &-head {
                margin-bottom: 20px;
            }
        }
    }
}


/** CHECK OUT **/

.booking-checkout-block {
    display: none;
    &.active {
        display: block;
    }
}

.booking-checkout {
    margin-top: 50px;
    font-size: 24px;
    a {
        color: #036EB0;
    }
    &-survey {
        margin-bottom: 50px;
    }
    @media screen and (max-width: 1600px) {
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    @media screen and (max-width: 1023px) {
        font-size: 18px;
    }
}

@media screen and (max-width: 1600px) {
    .booking-title {
        font-size: 38px;
        margin-top: 35px;
    }
    .booking-desc {
        font-size: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .booking-title {
        font-size: 33px;
    }
}

@media screen and (max-width: 1023px) {
    .booking-desc {
        font-size: 17px;
        margin-top: 15px!important;
    }
}

@media screen and (max-width: 767px) {
    .booking-title {
        font-size: 28px;
    }
    .booking-desc {
        font-size: 16px;
    }
}

.tour-list {
    --bs-gutter-x: 19px;
    --bs-gutter-y: 19px;
    margin-top: 24px;
    @media screen and (max-width: 1600px) {
        margin-top: 15px;
    }
    @media screen and (max-width:767px) {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x;
        --bs-gutter-y: 0;
        padding-bottom: 15px;
        &>[class*='col'] {
            scroll-snap-align: start;
        }
    }
}

.tour-item {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    label {
        cursor: pointer;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
            -webkit-transition: .3s ease .3s;
            -o-transition: .3s ease .3s;
            transition: .3s ease .3s;
        }
        &:hover:before {
            opacity: 0.6;
        }
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        opacity: 0;
    }
    input:checked~.tour-item-checked {
        opacity: 1;
        visibility: visible;
    }
    input:checked~.tour-item__content {
        opacity: 0;
    }
    &-checked {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 99;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.85);
        }
        span {
            text-align: center;
            font-size: 24px;
            color: #036EB0;
            font-weight: 700;
        }
        img {
            width: 100px;
            height: 100px;
        }
        img,
        span {
            position: relative;
        }
    }
    &__image {
        position: relative;
        padding-bottom: 65%;
        display: block;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: #fff;
        -webkit-transform: translateY(77%);
        -ms-transform: translateY(77%);
        transform: translateY(77%);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    @media(hover) {
        &:hover &__content {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            background-color: #4c484887;
        }
    }
    &__name {
        font-size: 23px;
        font-weight: 700;
        display: block;
        position: relative;
        z-index: 99;
    }
    &__desc {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        display: block;
        width: 63%;
        position: relative;
        z-index: 99;
        @media screen and (max-width: 1600px) {
            font-size: 15px;
            margin-top: 8px;
            width: 90%;
        }
    }
    &__list {
        margin-top: 15px;
        display: block;
        position: relative;
        z-index: 99;
        em {
            font-size: 16px;
            display: block;
            @media screen and (max-width: 1600px) {
                font-size: 15px;
                margin-top: 8px;
            }
        }
    }
    &__button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 22px;
        color: #036EB0;
        font-weight: 700;
        &:after {
            content: '';
            width: 37px;
            height: 37px;
            display: block;
            margin-left: 10px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewBox='0 0 37 37'%3E%3Cg id='Group_605' data-name='Group 605' transform='translate(22031 -5621)'%3E%3Cg id='Group_604' data-name='Group 604' transform='translate(-22031 5621)'%3E%3Ccircle id='Ellipse_7' data-name='Ellipse 7' cx='18.5' cy='18.5' r='18.5' fill='%23036eb0'/%3E%3Cg id='Forward_Arrow' data-name='Forward Arrow' transform='translate(15.035 26.661) rotate(-90)'%3E%3Cpath id='Union_3' data-name='Union 3' d='M6.949,9.477.523,3.052A1.788,1.788,0,0,1,3.051.524L8.213,5.685,13.269.628A1.788,1.788,0,1,1,15.8,3.157L9.477,9.477a1.787,1.787,0,0,1-2.528,0Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
    }
    @media screen and (max-width:1199px) {
        border-radius: 15px;
        &__content {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            display: flex;
            align-items: flex-end;
            padding: 10px;
            line-height: 1;
        }
        &__desc,
        &__list,
        &__button {
            display: none;
        }
    }
}

.booking-form {
    margin-top: 50px;
    .booking-title {
        margin-bottom: 10px;
    }
    &-inner {
        width: 49.3%;
        margin: 0 auto;
        margin-top: 24px;
        @media screen and (max-width: 1600px) {
            width: 70%;
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 1199px) {
        margin-top: 30px;
        .booking-title {
            margin-top: 15px;
        }
    }
}

.booking-form-wrapper {
    .form-group {
        margin-bottom: 24px;
    }
    label {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 16px;
        display: inline-block;
        &.error {
            color: red;
            font-size: 16px;
            font-style: italic;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    input,
    select {
        border: 1px solid #036EB0;
        background-color: #fff;
        box-shadow: unset;
        padding: 11px 20px;
        height: auto;
        border-radius: 10px;
        font-size: 24px;
        width: 100%;
        @media screen and (max-width: 1600px) {
            font-size: 20px;
        }
        @media screen and (max-width:767px) {
            font-size: 16px;
        }
        &::placeholder {
            color: #7F7F7F;
        }
        &:focus {
            box-shadow: none;
            border-color: #036EB0;
        }
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
        }
        &[type="number"] {
            -moz-appearance: none;
        }
    }
    .js-modal {
        cursor: pointer!important;
    }
    .input-number {
        position: relative;
        &__button {
            position: absolute;
            top: 50%;
            right: 20px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            .btn {
                width: 32px;
                height: 32px;
                background-color: #036EB0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 1px solid #036EB0;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                svg {
                    color: #fff;
                }
                @media(hover) {
                    &:hover {
                        background-color: #fff;
                        box-shadow: 0px 0px 6px #036eb0;
                        svg {
                            color: #006CB0;
                        }
                    }
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    .js-dishes-modal input {
        cursor: pointer;
    }
    @media screen and (max-width: 1600px) {
        label {
            font-size: 20px;
            margin-bottom: 10px;
        }
        input {
            padding: 6px 20px;
            font-size: 20px;
        }
    }
    @media screen and (max-width: 767px) {
        label {
            font-size: 18px;
            margin-bottom: 5px;
        }
        input {
            font-size: 16px;
            padding: 8px 15px;
        }
        .input-number {
            &__button {
                .btn {
                    width: 26px;
                    height: 26px;
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.booking-form-inner-2 {
    display: none;
}

.booking-button {
    background-color: #036EB0;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    padding: 7px 34px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    margin-top: 26px;
    &:hover {
        background-color: #fff;
        color: #036EB0;
        box-shadow: 0px 0px 6px #036eb0;
    }
    @media screen and (max-width: 1600px) {
        margin-top: 15px;
        font-size: 20px;
    }
    @media screen and (max-width: 767px) {
        font-size: 17px;
    }
}


/** SURVEY FORM **/

.survey-form {
    font-size: 24px;
    font-weight: 500;
    @media screen and (max-width: 1600px) {
        font-size: 20px;
    }
    @media screen and (max-width:767px) {
        font-size: 16px;
    }
    label {
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: relative;
        @media screen and (max-width: 767px) {
            font-size: 16px!important;
        }
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }
    &-group {
        margin-bottom: 30px;
    }
    &__title {
        margin-bottom: 40px;
        display: inline-block;
        @media screen and (max-width: 1600px) {
            margin-bottom: 30px;
        }
        @media screen and (max-width:1023px) {
            margin-bottom: 20px;
        }
    }
    input:checked~.checkmark {
        background-color: #036eb0;
    }
    input:checked~.checkmark:before {
        opacity: 1;
        width: 20px;
        @media screen and (max-width: 1023px) {
            width: 15px;
        }
    }
    .checkmark {
        width: 37px;
        height: 37px;
        border: 1px solid #036EB0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        flex-shrink: 0;
        @media screen and (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
        @media(hover) {
            &:hover {
                box-shadow: 0px 0px 6px #036eb0;
            }
        }
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.435' height='10.485' viewBox='0 0 15.435 10.485'%3E%3Cpath id='Union_3' data-name='Union 3' d='M5.071,12.486.122,7.536A1,1,0,0,1,1.535,6.121l4.243,4.243,7.778-7.778A1,1,0,1,1,14.971,4L6.509,12.461l-.023.024a1,1,0,0,1-1.415,0Z' transform='translate(0.171 -2.293)' fill='%23fff'/%3E%3C/svg%3E%0A");
            opacity: 0;
            height: 20px;
            width: 0;
            background-size: contain;
            background-repeat: no-repeat;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            background-position: center;
        }
    }
}

.survey-reason-other {
    align-items: center;
    label {
        margin-right: 10px;
        margin-bottom: 0;
    }
    span {
        order: 2;
    }
    .checkmark {
        order: 3;
    }
    input {
        padding: 6px 20px;
        margin-bottom: 0;
        &[readonly] {
            background-color: #ededed;
        }
    }
    input[type="checkbox"] {
        flex-shrink: 0;
    }
    input[type="checkbox"]:checked~input[type="text"] {
        pointer-events: visible;
        background-color: #fff;
    }
    input[type="text"] {
        flex: 1;
        margin-left: 10px;
        pointer-events: none;
        background-color: #ededed;
        position: relative;
        z-index: 999;
    }
}


/** DISHES MODAL **/

.hz-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
        @media (hover) {
            padding-right: 17px;
        }
        .hz-modal__dialog {
            opacity: 1;
            visibility: visible;
        }
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 37px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #036EB0;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        svg {
            color: #fff;
        }
        @media(hover) {
            &:hover {
                background-color: #fff;
                box-shadow: 0px 0px 6px #036eb0;
                svg {
                    color: #036EB0;
                }
            }
        }
        @media screen and (max-width:1023px) {
            top: 10px;
            right: 10px;
            width: 33px;
            height: 33px;
            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
    &__dialog {
        background-color: #fff;
        padding: 100px 140px;
        margin: 100px auto;
        position: relative;
        border-radius: 50px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        width: 90%;
        @media (min-width: 1600px) {
            width: 1433px;
        }
        @media screen and (max-width:1600px) {
            padding: 80px 100px;
        }
        @media screen and (max-width:1199px) {
            padding: 70px;
        }
        @media screen and (max-width:1023px) {
            padding: 50px;
            margin: 70px auto;
        }
        @media screen and (max-width:767px) {
            margin: 30px auto;
            padding: 45px 30px;
            border-radius: 20px;
        }
    }
    &__body {
        .booking-desc {
            width: 83%;
            margin: 24px auto 0 auto;
            text-align: justify;
            @media screen and (max-width: 1199px) {
                width: 100%;
            }
        }
    }
    &__tab {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-right: -25px;
        margin-left: -25px;
        margin-bottom: 0;
        justify-content: center;
        li {
            width: 20%;
            flex: 0 0 auto;
            padding-left: 25px;
            padding-right: 25px;
            margin-bottom: 10px;
            a {
                background-color: #fff;
                border: none;
                font-size: 24px;
                color: #fff;
                background-color: #036EB0;
                border-radius: 10px;
                padding: 9px 15px;
                width: 100%;
                display: block;
                text-align: center;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
            }
            @media(hover) {
                &:hover a {
                    color: #036EB0;
                    box-shadow: 0px 0px 6px #036eb0;
                    background-color: #fff;
                }
            }
            &.active a {
                color: #036EB0;
                box-shadow: 0px 0px 6px #036eb0;
                background-color: #fff;
            }
        }
        @media screen and(max-width: 1600px) {
            margin-top: 30px;
            margin-left: -15px;
            margin-right: -15px;
            li {
                padding-left: 15px;
                padding-right: 15px;
                a {
                    font-size: 20px;
                }
            }
        }
        @media screen and(max-width: 1199px) {
            li {
                a {
                    font-size: 17px;
                }
            }
        }
        @media screen and (max-width: 1023px) {
            margin-left: -10px;
            margin-right: -10px;
            li {
                width: 33.33%;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        @media screen and (max-width: 767px) {
            flex-wrap: nowrap;
            overflow-x: auto;
            justify-content: flex-start;
            li {
                min-width: 60%;
                margin: 10px 0;
            }
        }
    }
    &__footer {
        justify-content: center;
        margin-top: 50px;
        .hz-button {
            margin: 0 60px;
        }
        @media screen and (max-width: 1600px) {
            .hz-button {
                margin: 0 30px;
            }
        }
        @media screen and (max-width:1023px) {
            margin-top: 25px;
            .hz-button {
                margin: 10px 15px;
                font-size: 18px;
            }
        }
        @media screen and (max-width:767px) {
            margin-top: 15px;
        }
    }
    .tab-panels {
        border: none;
        .panel {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    &.dishes-modal {
        z-index: 2222;
    }
}

.edit-modal {
    input,
    select {
        color: #000!important;
    }
    .booking-title {
        margin-top: 0;
    }
    .booking-desc {
        margin-bottom: 24px;
        text-align: center;
    }
    .booking-form-wrapper {
        margin: 0 auto;
        @media screen and (min-width: 1024px) {
            width: 60%;
        }
    }
    .booking-edit-food {
        display: none;
    }
}

.survrey-modal {
    .booking-desc {
        width: 100%;
        margin-bottom: 32px;
    }
}

.hz-modal-dishes__carousel {
    width: 87.5%;
    margin: 0 auto;
    @media screen and (max-width: 1600px) {
        width: 91%;
    }
    @media screen and (max-width:1199px) {
        width: 100%;
    }
    @media screen and (max-width: 1023px) {
        margin-top: 30px;
    }
    .carousel-cell {
        width: 100%;
        @media screen and (max-width: 1023px) {
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    .hz-row {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
        margin: 20px;
        @media screen and (max-width: 1023px) {
            margin: 10px 0;
        }
    }
    .flickity-button {
        background-color: #006CB0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        &:disabled {
            opacity: 0;
        }
        @media(hover) {
            &:hover {
                background-color: #fff;
                box-shadow: 0px 0px 6px #036eb0;
            }
        }
        &.next {
            right: -10%;
            &:before {
                content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M9.6375 10.2125L3.2125 16.6385C2.87481 16.9616 2.42401 17.1397 1.95666 17.1345C1.4893 17.1294 1.04254 16.9414 0.71205 16.611C0.381559 16.2805 0.193614 15.8337 0.188465 15.3663C0.183316 14.899 0.361371 14.4482 0.6845 14.1105L5.8455 8.9485L0.788499 3.8925C0.452868 3.55713 0.264207 3.10217 0.264019 2.62771C0.263831 2.15324 0.452133 1.69813 0.787499 1.3625C1.12287 1.02687 1.57782 0.838208 2.05229 0.83802C2.52676 0.837833 2.98187 1.02613 3.3175 1.3615L9.6375 7.6845C9.80356 7.85045 9.93529 8.0475 10.0252 8.26438C10.115 8.48127 10.1613 8.71373 10.1613 8.9485C10.1613 9.18327 10.115 9.41573 10.0252 9.63262C9.93529 9.8495 9.80356 10.0465 9.6375 10.2125V10.2125Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='white' transform='translate(0.1605 17.1615) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 18px;
                width: 10px;
            }
            @media(hover) {
                &:hover:before {
                    content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M9.6375 10.2125L3.2125 16.6385C2.87481 16.9616 2.42401 17.1397 1.95666 17.1345C1.4893 17.1294 1.04254 16.9414 0.71205 16.611C0.381559 16.2805 0.193614 15.8337 0.188465 15.3663C0.183316 14.899 0.361371 14.4482 0.6845 14.1105L5.8455 8.9485L0.788499 3.8925C0.452868 3.55713 0.264207 3.10217 0.264019 2.62771C0.263831 2.15324 0.452133 1.69813 0.787499 1.3625C1.12287 1.02687 1.57782 0.838208 2.05229 0.83802C2.52676 0.837833 2.98187 1.02613 3.3175 1.3615L9.6375 7.6845C9.80356 7.85045 9.93529 8.0475 10.0252 8.26438C10.115 8.48127 10.1613 8.71373 10.1613 8.9485C10.1613 9.18327 10.115 9.41573 10.0252 9.63262C9.93529 9.8495 9.80356 10.0465 9.6375 10.2125V10.2125Z' fill='%23036eb0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='white' transform='translate(0.1605 17.1615) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
            }
        }
        &.previous {
            left: -10%;
            &:before {
                content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M0.6845 7.78848L7.1095 1.36248C7.44719 1.03935 7.89799 0.861292 8.36534 0.866442C8.8327 0.871591 9.27946 1.05954 9.60995 1.39003C9.94044 1.72052 10.1284 2.16728 10.1335 2.63463C10.1387 3.10199 9.96063 3.55278 9.6375 3.89048L4.4765 9.05248L9.5335 14.1085C9.86913 14.4438 10.0578 14.8988 10.058 15.3733C10.0582 15.8477 9.86987 16.3028 9.5345 16.6385C9.19913 16.9741 8.74417 17.1628 8.26971 17.163C7.79524 17.1631 7.34013 16.9748 7.0045 16.6395L0.6845 10.3165C0.518442 10.1505 0.386711 9.95348 0.296835 9.73659C0.206959 9.51971 0.1607 9.28724 0.1607 9.05248C0.1607 8.81771 0.206959 8.58524 0.296835 8.36836C0.386711 8.15148 0.518442 7.95443 0.6845 7.78848V7.78848Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='white' transform='translate(10.1615 0.839478) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 18px;
                width: 10px;
            }
            @media(hover) {
                &:hover:before {
                    content: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1299:2)'%3E%3Cpath d='M0.6845 7.78848L7.1095 1.36248C7.44719 1.03935 7.89799 0.861292 8.36534 0.866442C8.8327 0.871591 9.27946 1.05954 9.60995 1.39003C9.94044 1.72052 10.1284 2.16728 10.1335 2.63463C10.1387 3.10199 9.96063 3.55278 9.6375 3.89048L4.4765 9.05248L9.5335 14.1085C9.86913 14.4438 10.0578 14.8988 10.058 15.3733C10.0582 15.8477 9.86987 16.3028 9.5345 16.6385C9.19913 16.9741 8.74417 17.1628 8.26971 17.163C7.79524 17.1631 7.34013 16.9748 7.0045 16.6395L0.6845 10.3165C0.518442 10.1505 0.386711 9.95348 0.296835 9.73659C0.206959 9.51971 0.1607 9.28724 0.1607 9.05248C0.1607 8.81771 0.206959 8.58524 0.296835 8.36836C0.386711 8.15148 0.518442 7.95443 0.6845 7.78848V7.78848Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1299:2'%3E%3Crect width='16.322' height='10.001' fill='%23036eb0' transform='translate(10.1615 0.839478) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
            }
        }
        @media screen and (max-width:1023px) {
            &.previous {
                left: -8%;
            }
            &.next {
                right: -8%;
            }
        }
        @media screen and (max-width:767px) {
            width: 34px;
            height: 34px;
            &.previous {
                left: -9%;
            }
            &.next {
                right: -9%;
            }
        }
        svg {
            display: none;
        }
    }
}

.modal-backdrop--white {
    background-color: #E4E4E4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    &.active {
        visibility: visible;
        opacity: 0.7;
    }
}

.dishes__item {
    color: #000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 30px;
    overflow: hidden;
    @media(hover) {
        &:hover {
            color: #000;
            box-shadow: 0px 0px 15px #036eb052;
        }
    }
    &-image {
        width: 100%;
        position: relative;
        padding-bottom: 64.3%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &-content {
        padding: 19px 18px 16px 21px;
        font-size: 16px;
        ul {
            margin-top: 20px;
            font-weight: 500;
            padding-left: 0;
            margin-bottom: 0;
            margin-left: 0;
            list-style: none;
            li {
                &:before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: #000;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 6px;
                    -webkit-transform: translateY(-2px);
                    -ms-transform: translateY(-2px);
                    transform: translateY(-2px);
                }
            }
        }
    }
    &-name {
        font-weight: 700;
        font-size: 24px;
    }
    &-choose {
        margin-top: 24px;
        margin-left: auto;
        text-align: right;
        position: relative;
        display: flex;
        justify-content: flex-end;
        label {
            font-size: 24px;
            color: #036EB0;
            font-weight: 700;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        input:checked~.checkmark {
            background-color: #036eb0;
        }
        input:checked~.checkmark:before {
            opacity: 1;
            width: 20px;
            @media screen and (max-width: 1023px) {
                width: 15px;
            }
        }
        .checkmark {
            width: 37px;
            height: 37px;
            border: 1px solid #036EB0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            &:before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.435' height='10.485' viewBox='0 0 15.435 10.485'%3E%3Cpath id='Union_3' data-name='Union 3' d='M5.071,12.486.122,7.536A1,1,0,0,1,1.535,6.121l4.243,4.243,7.778-7.778A1,1,0,1,1,14.971,4L6.509,12.461l-.023.024a1,1,0,0,1-1.415,0Z' transform='translate(0.171 -2.293)' fill='%23fff'/%3E%3C/svg%3E%0A");
                opacity: 0;
                height: 20px;
                width: 0;
                background-size: contain;
                background-repeat: no-repeat;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                background-position: center;
            }
        }
    }
    @media screen and (max-width: 1600px) {
        &-name,
        &-choose {
            font-size: 20px;
        }
        &-content ul {
            margin-top: 10px;
        }
    }
    @media screen and (max-width:1023px) {
        &-content {
            font-size: 14px;
            padding-left: 0;
            padding-right: 0;
        }
        &-choose label {
            font-size: 20px;
        }
        &-choose .checkmark {
            width: 30px;
            height: 30px;
            &:before {
                height: 15px;
            }
        }
    }
}


/** TOD MODAL **/

.tod-modal {
    display: flex;
    align-items: center;
    .booking-title {
        margin-bottom: 24px;
    }
    .booking-desc {
        a {
            color: #000;
            &:hover {
                color: #006cb0;
            }
        }
    }
}


/** CONFIRM BOOKING MODAL **/

.confirm-booking-modal {
    .booking-title {
        margin-bottom: 10px;
    }
    .booking-desc {
        width: 100%;
        margin: 0;
    }
    .confirm-booking__content {
        padding: 36px 91px;
        border: 1px solid #036EB0;
        border-radius: 30px;
        margin-bottom: 24px;
        @media screen and (max-width: 1600px) {
            padding: 36px 40px;
        }
        @media screen and (max-width:1023px) {
            padding: 20px;
        }
        &-inner {
            height: calc(498px - 72px);
            overflow-y: auto;
            padding-right: 19px;
            @media screen and (max-width: 1023px) {
                height: calc(300px - 40px);
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: #F5F5F5;
                border: 1px solid #036EB0;
            }
            &::-webkit-scrollbar {
                width: 12px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #82C9F0;
            }
            scrollbar-color: #82C9F0 #F5F5F5 !important;
            scrollbar-width: thin !important;
        }
    }
    .hz-modal__footer {
        label {
            position: relative;
            font-size: 24px;
            color: #036EB0;
            font-weight: 700;
            cursor: pointer;
            margin-bottom: 50px;
            display: block;
            @media screen and (max-width: 1600px) {
                font-size: 20px;
                margin-bottom: 30px;
            }
            @media screen and (max-width: 1023px) {
                font-size: 16px;
                margin-bottom: 15px;
            }
            input {
                position: absolute;
                opacity: 0;
            }
            input:checked~.checkmark {
                background-color: #036eb0;
            }
            input:checked~.checkmark:before {
                opacity: 1;
                width: 20px;
                @media screen and (max-width: 1023px) {
                    width: 15px;
                }
            }
            span.d-flex {
                align-items: center;
            }
            em {
                font-size: 16px;
                font-weight: 500;
                color: red;
            }
            .checkmark {
                width: 37px;
                height: 37px;
                border: 1px solid #036EB0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                flex-shrink: 0;
                @media screen and (max-width: 767px) {
                    width: 30px;
                    height: 30px;
                }
                @media(hover) {
                    &:hover {
                        box-shadow: 0px 0px 6px #036eb0;
                    }
                }
                &:before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.435' height='10.485' viewBox='0 0 15.435 10.485'%3E%3Cpath id='Union_3' data-name='Union 3' d='M5.071,12.486.122,7.536A1,1,0,0,1,1.535,6.121l4.243,4.243,7.778-7.778A1,1,0,1,1,14.971,4L6.509,12.461l-.023.024a1,1,0,0,1-1.415,0Z' transform='translate(0.171 -2.293)' fill='%23fff'/%3E%3C/svg%3E%0A");
                    opacity: 0;
                    height: 20px;
                    width: 0;
                    background-size: contain;
                    background-repeat: no-repeat;
                    -webkit-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;
                    background-position: center;
                }
            }
            .booking-confirm-errors {
                display: block;
            }
        }
    }
}

.booking {
    input,
    select,
    textarea {
        font-family: Goldplay;
    }
    select {
        color: #7F7F7F;
        option:first-child:checked {
            color: #7F7F7F;
        }
    }
    input.datepicker {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.463' height='32' viewBox='0 0 35.463 32'%3E%3Cg id='Group_572' data-name='Group 572' transform='translate(0 -25)'%3E%3Cpath id='Path_597' data-name='Path 597' d='M100.257,249H98.039a1.039,1.039,0,1,0,0,2.079h2.218a1.039,1.039,0,1,0,0-2.079Z' transform='translate(-90.282 -208.485)' fill='%23036eb0'/%3E%3Cpath id='Path_598' data-name='Path 598' d='M100.257,313H98.039a1.039,1.039,0,1,0,0,2.079h2.218a1.039,1.039,0,0,0,0-2.079Z' transform='translate(-90.282 -268.053)' fill='%23036eb0'/%3E%3Cpath id='Path_599' data-name='Path 599' d='M100.257,377H98.039a1.04,1.04,0,0,0,0,2.079h2.218a1.04,1.04,0,0,0,0-2.079Z' transform='translate(-90.282 -327.62)' fill='%23036eb0'/%3E%3Cpath id='Path_600' data-name='Path 600' d='M228.257,249h-2.218a1.039,1.039,0,0,0,0,2.079h2.218a1.039,1.039,0,1,0,0-2.079Z' transform='translate(-209.417 -208.485)' fill='%23036eb0'/%3E%3Cpath id='Path_601' data-name='Path 601' d='M228.257,313h-2.218a1.039,1.039,0,0,0,0,2.079h2.218a1.039,1.039,0,1,0,0-2.079Z' transform='translate(-209.417 -268.053)' fill='%23036eb0'/%3E%3Cpath id='Path_602' data-name='Path 602' d='M228.257,377h-2.218a1.04,1.04,0,0,0,0,2.079h2.218a1.04,1.04,0,0,0,0-2.079Z' transform='translate(-209.417 -327.62)' fill='%23036eb0'/%3E%3Cpath id='Path_603' data-name='Path 603' d='M356.257,249H354.04a1.039,1.039,0,1,0,0,2.079h2.217a1.039,1.039,0,0,0,0-2.079Z' transform='translate(-328.551 -208.485)' fill='%23036eb0'/%3E%3Cpath id='Path_604' data-name='Path 604' d='M356.257,313H354.04a1.039,1.039,0,1,0,0,2.079h2.217a1.039,1.039,0,0,0,0-2.079Z' transform='translate(-328.551 -268.053)' fill='%23036eb0'/%3E%3Cpath id='Path_605' data-name='Path 605' d='M356.257,377H354.04a1.04,1.04,0,1,0,0,2.079h2.217a1.04,1.04,0,0,0,0-2.079Z' transform='translate(-328.551 -327.62)' fill='%23036eb0'/%3E%3Cpath id='Path_606' data-name='Path 606' d='M32.346,27.771H29.853V26.039a1.039,1.039,0,0,0-2.078,0v1.732h-9V26.039a1.039,1.039,0,0,0-2.078,0v1.732h-9V26.039a1.039,1.039,0,0,0-2.078,0v1.732H3.117A3.12,3.12,0,0,0,0,30.887v23A3.12,3.12,0,0,0,3.117,57H32.346a3.12,3.12,0,0,0,3.117-3.117v-23A3.12,3.12,0,0,0,32.346,27.771ZM2.078,30.887a1.04,1.04,0,0,1,1.039-1.039H5.61V31.58a1.039,1.039,0,0,0,2.078,0V29.848h9V31.58a1.039,1.039,0,0,0,2.078,0V29.848h9V31.58a1.039,1.039,0,0,0,2.078,0V29.848h2.494a1.04,1.04,0,0,1,1.039,1.039v4.087H2.078ZM32.346,54.922H3.117a1.04,1.04,0,0,1-1.039-1.039V37.052H33.385V53.883A1.04,1.04,0,0,1,32.346,54.922Z' transform='translate(0 0)' fill='%23036eb0'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center right 20px;
        background-size: 32px 32px;
        cursor: pointer;
    }
    input[type="time"]::-webkit-calendar-picker-indicator {
        opacity: 1;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg id='Group_578' data-name='Group 578' xmlns='http://www.w3.org/2000/svg' width='32.016' height='32.016' viewBox='0 0 32.016 32.016'%3E%3Cg id='Group_574' data-name='Group 574' transform='translate(14.801 7.468)'%3E%3Cg id='Group_573' data-name='Group 573'%3E%3Cpath id='Path_607' data-name='Path 607' d='M243.062,130.1l-4.431-3.323v-6.77a1.231,1.231,0,0,0-2.462,0V127.4a1.228,1.228,0,0,0,.492.985l4.923,3.693a1.231,1.231,0,0,0,1.477-1.97Z' transform='translate(-236.169 -118.779)' fill='%23036eb0'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_576' data-name='Group 576'%3E%3Cg id='Group_575' data-name='Group 575'%3E%3Cpath id='Path_608' data-name='Path 608' d='M16.008,0A16.008,16.008,0,1,0,32.016,16.008,16.025,16.025,0,0,0,16.008,0Zm0,29.536A13.528,13.528,0,1,1,29.536,16.008,13.545,13.545,0,0,1,16.008,29.536Z' fill='%23036eb0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        width: 32px;
        height: 32px;
    }
    @media screen and (max-width:1023px) {
        input.datepicker,
        input[type="time"] {
            background-repeat: no-repeat;
            background-position: center right 10px;
            background-size: 20px 20px;
        }
        input[type="time"] {
            background-image: url("data:image/svg+xml,%3Csvg id='Group_578' data-name='Group 578' xmlns='http://www.w3.org/2000/svg' width='32.016' height='32.016' viewBox='0 0 32.016 32.016'%3E%3Cg id='Group_574' data-name='Group 574' transform='translate(14.801 7.468)'%3E%3Cg id='Group_573' data-name='Group 573'%3E%3Cpath id='Path_607' data-name='Path 607' d='M243.062,130.1l-4.431-3.323v-6.77a1.231,1.231,0,0,0-2.462,0V127.4a1.228,1.228,0,0,0,.492.985l4.923,3.693a1.231,1.231,0,0,0,1.477-1.97Z' transform='translate(-236.169 -118.779)' fill='%23036eb0'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_576' data-name='Group 576'%3E%3Cg id='Group_575' data-name='Group 575'%3E%3Cpath id='Path_608' data-name='Path 608' d='M16.008,0A16.008,16.008,0,1,0,32.016,16.008,16.025,16.025,0,0,0,16.008,0Zm0,29.536A13.528,13.528,0,1,1,29.536,16.008,13.545,13.545,0,0,1,16.008,29.536Z' fill='%23036eb0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }
    }
}


/** FORM VALIDATE **/

.form-message-required {
    display: none;
    font-size: 15px;
    font-weight: 600;
    color: red;
    margin-top: 5px;
    &.show {
        display: block;
    }
}

.booking-complete {
    .booking-desc {
        margin-bottom: 50px;
        @media screen and (max-width: 1600px) {
            margin-bottom: 30px;
        }
    }
}